@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: "Poppins-bold";
    src: url("/fonts/Poppins-Bold.woff2") format("woff2");
    font-weight: 800;
    font-display: swap;
    font-style: normal;
  }
}
@layer components {
  .btn-primary {
    @apply bg-gold p-2 w-32 h-11 m-5 text-xs text-white;
  }
  .inputs-primary {
    @apply max-h-14 h-10 my-2 w-full pl-2 bg-lightGray placeholder:text-midGray text-midGray focus:outline-none focus:ring-0 lg:w-11/12;
  }
  .contact_header {
    @apply my-3 p-2 flex justify-between items-center lg:absolute lg:top-0 lg:w-full lg:p-14;
  }
  .home_header {
    @apply my-3 p-2 flex justify-between items-center  lg:top-0 lg:w-full lg:px-12;
  }
}
